<html>
	<head>
		<title>Un misil en mi placard</title>
	</head>
	<body>
		<div>	
			<h1><a	href="">Un misil en mi placard</a></h1>
		</div>
		
		<div>
			<h2><a	href="">Misiles nucleares</a></h2>																
			<p> Refugiados sobre el diván, buscándonos
Agitados por nuestras formas, buscándonos
Algo ocurrió, una extraña sensación, un presentimiento
Tuve que dejar de hacer el amor en el momento
Fui en busca de un abrigo, hacía frio
Encendí un cigarrillo, tenía miedo
Y ahí lo vi, un misil en mi placard, en mi placard
Un modelo para armar, pero nunca para desarmar
Oh yeah yeah
Oh no no</p>

		</div>

		<div>
			<h3><a	href="">Misiles nucleares y más</a></h3>
			<p>Te miré tristemente, tristemente
No hay más tiempo que perder, sonreíste
Estaba ahí, un misil en mi placard, en mi placard
Un modelo para armar, pero nunca para desarmar
<em>Aquí también, creías que estabas lejos
Aquí también, aquí también</em></p>
		</div>
	<body>	
</html>